.wrapper {
  width: 100%;
  padding: 1rem 0;
  height: fit-content;
  background-color: #181818;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
}

.content {
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  background-color: #fff;
  padding: 2rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
