@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.wrapper {
  flex: 1 1 25rem;
  background-color: #fff;
  padding: 1.5rem;

  max-width: 44%;
  margin: auto;
}

.imgContainer {
  position: relative;

  &:hover {
    cursor: pointer;

    .img {
      user-select: none;

      transition: filter 0.1s ease-in-out;
      filter: blur(
        5px
      ); /* Застосовуємо блюр до класу .img при наведенні на .imgContainer */
    }
    &::after {
      font-family: "Varela Round", sans-serif;
      content: "+";
      color: #fff;
      font-size: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.355);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.img {
  display: block;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  min-height: 40vh;
}

.title {
  font-size: 1.8rem;
  text-align: center;
}

.desc {
  font-style: italic;
  text-align: center;
  font-size: 1.6vw;
  margin: 2rem 0;
}

.price {
  color: #e73d0c;
  font-weight: 700;
  font-size: 1.4vw;
}

@media (max-width: 1280px) {
  .wrapper {
    min-width: 90%;
  }
  .img {
    margin: auto;
  }
  .content {
    min-height: 23rem;
  }
  .title {
    font-size: 7.5vw;
    white-space: nowrap;
  }
  .desc {
    font-size: 6vw;
    min-height: 11rem;
  }
  .price {
    font-size: 2.8vw;
  }
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 100%;
  }
  .content {
    max-width: 80vw;
    min-height: 15rem;
  }
  .img {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .desc {
    margin: 0;
  }
}
