$back: #181818;

.wrapper {
  position: fixed;
  width: 100%;
  height: 4rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.goodsContainer {
  color: #fff;
  width: 95%;
  display: flex;
  background-color: $back;
}

.goodsOption {
  width: 50%;
  text-align: center;
  font-size: 3rem;
}

.cart {
  width: 5%;
  display: flex;
  justify-content: center;
  img {
    height: 4rem;
    &:hover {
      cursor: pointer;
      color: $back;
    }
  }
}

.btn {
  &:hover {
    cursor: pointer;
    background-color: #fff;
    color: $back;
  }
}

.counter {
  position: absolute;
  top: 2rem;
  right: 4rem;
  color: #fff;
  background-color: $back;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  text-align: center;
  font-weight: 700;
  border: 1px solid green;
}
