$back: #181818;

.wrapper {
  position: fixed;
  width: 100%;
  height: 4rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.goodsContainer {
  color: #fff;
  width: 100%;
  display: flex;
  background-color: $back;
}

.goodsOption {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  user-select: none;
  &:nth-child(1) {
    border-right: 1px solid #fff;
  }
  &:hover {
    cursor: pointer;
    background-color: #282828;
  }
}

@media (max-width: 440px) {
  .goodsOption {
    font-size: 2.3rem;
  }
}
