/* modal.module.scss */
// modal settings
.overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  margin: auto;
  height: 90%;
  width: 50%;
  position: absolute;
  inset: 40px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  outline: none;
  padding: 20px;
}
// modal content
.modalHeader {
  font-size: 3rem;
}

.modalContent {
  height: 75%;
  overflow-y: auto;
  margin: 1rem 0;
}

.modalFooter {
  border-radius: 0.5rem;
  margin-left: auto;
  width: fit-content;
  font-size: 2rem;
  padding: 1rem;
  color: #221f1f;
}

// content item
.cartItem {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.title {
  font-size: 2rem;
}

.desc {
  width: 20rem;
  opacity: 0.95;
}

.img {
  width: 13rem;
}

.price {
  align-self: end;
  color: #e73d0c;
}

.orderBtn {
  height: 100%;
  border: none;
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #00a046;
  color: #fff;

  margin-left: 2rem;
  &:hover {
    background-color: #00bc52;
    cursor: pointer;
  }
}
