/* modal.module.scss */
// modal settings
.overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 3;
}

.modal {
  margin: auto;
  max-height: 90%;
  width: 50%;
  position: absolute;
  inset: 40px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  outline: none;
  padding: 20px;
}
// modal content
.modalHeader {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  margin: 0;
  line-height: 1rem;
  button {
    display: flex;
    align-items: start;
    font-size: 2rem;
    border: none;
    background-color: inherit;
    color: rgba(255, 0, 0, 0.589);
    &:hover {
      cursor: pointer;
    }
  }
}

.modalContent {
  height: 75%;
  overflow-y: auto;
}

.modalFooter {
  border-radius: 0.5rem;
  margin-left: auto;
  width: fit-content;
  font-size: 2rem;
  padding: 1rem;
  color: #181818;
}

// content item
.cartItem {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.title {
  font-size: 2rem;
}

.desc {
  width: 20rem;
  opacity: 0.95;
}

.img {
  width: 13rem;
}

.price {
  align-self: end;
  color: #e73d0c;
}

.orderBtn {
  height: 100%;
  border: none;
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #00a046;
  color: #fff;

  margin-left: 2rem;
  &:hover {
    background-color: #00bc52;
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .modalHeader {
    justify-content: space-around;
  }
  .modal {
    width: 90%;
  }
  .modalContent {
    height: 70%;
  }
}
@media (max-width: 768px) {
  .overlay {
    padding: 0;
  }
  .modal {
    inset: 0;
    height: 100vh;
    width: 100vw;
    background: #fff;
    border-radius: 4px;
    position: relative;
  }
  .modalContent {
    padding: 0;
  }
  .cartItem {
    width: 90vw;
    padding: 0;
    margin-bottom: 1rem;
  }
  .img {
    height: 6rem;
    width: 6rem;
  }
  .text {
    max-width: 40%;
  }
  .title {
    font-size: 1.2rem;
  }
  .desc {
    display: none;
  }
}
