.cartItem {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.title {
  font-size: 2rem;
}

.desc {
  width: 20rem;
  opacity: 0.95;
}

.img {
  width: 15rem;
  margin-right: 2rem;
}

.price {
  align-self: end;
  color: #e73d0c;
}
